<!DOCTYPE html>
<html>
<head>
  <title>2016 세종대학교 대동제</title>
  
  <meta property="og:site_name" content="2016 세종대학교 대동제"/>
  <meta property="og:title" content="2016 세종대학교 대동제"/>    
  <meta property="og:description" content="2016 세종대학교 축제 정보 사이트" />
  <meta property="article:author" content="김선휘" />
  <meta property="og:image" content="https://scontent.xx.fbcdn.net/v/t1.0-9/12990846_1003140716406155_141509432844341015_n.png?oh=ef859938ef919081b50757483b8b55d4&oe=57DFC1CF" />

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  
 
</head>
<body>

<%= yield %>

</body>
</html>
